.loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingLogo {
    width: 20vmax;
    height: 20vmax;
}