.profilePic {
  width: 20vw;
  height: 20vw;
  border-radius: 1000px;
  margin-right: 40px;
}

.userName {
  font-size: 10vw;
  margin-top: 20px;
}

.topUserBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userContainer {
  margin-left: 90px;
  padding-top: 90px;
}

.itemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  p {
    display: block;
    width: 100%;
    font-size: 25px;
    margin-top: 0;
    font-size: 30px;
  }
}

.separator {
  width: calc(100% - 30px);
  height: 5px;
  background-color: grey;
  margin: 30px 0 30px 0;
}

@media only screen and (max-width: 768px) {
  .userContainer {
    padding-top: 40px;
  }

  .itemList {
    justify-content: center;

    p {
      text-align: center;
      font-size: 25px;
    }
  }

  .profilePic {
    margin-right: 10px;
  }

  .userName {
    margin-top: 30px;
  }

  .separator {
    margin: 10px 0 10px 0;
    height: 2px;
  }
}

@media only screen and (max-width: 540px) {
  .userContainer {
    margin-top: 50px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .topUserBar {
    flex-direction: column;
  }

  .profilePic {
    width: 50vw;
    height: 50vw;
  }
}
